/**
  Global Styles
 */

@import-normalize ;
@import '~fontsource-montserrat';
$primary-color: #cccccc;
$secondary-color: #eeeeee;
$shadow-color: #333333;

html {
  font-family: "Montserrat", Arial, sans-serif;
}

body {
  margin: 0;
  background-color: $secondary-color;
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  color: black;

  &:hover {
    background-color: $primary-color;
    box-shadow: 0 2px 4px $shadow-color;
  }

  &:active {
    box-shadow: none;
  }
}

%screen-center {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/**
  Navbar Component
 */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $secondary-color;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    @media screen and (min-width: 768px) {
      float: right;
      width: 480px;
    }
  }

  li {
    float: left;
    width: 33.3%;
    line-height: 2;
  }
}

.navbar--shadow {
  box-shadow: 0 0 8px $shadow-color;
}

/**
  About Component
 */

.about {
  @extend %screen-center;

  @media screen and (max-height: 576px) and (orientation: landscape) {
    flex-direction: row;
  }

  img {
    height: 240px;
    max-height: 66vh;
    border-radius: 50%;
    margin: 20px;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    margin: 0;
  }
}

/**
  Showcase Component
 */

.showcase {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/**
  Project Component
 */

.project {
  margin: 1rem;
  padding: 8px 8px 0;

  img {
    width: 320px;
    max-width: 90vw;
    border: none;
  }

  figure {
    margin: 0;
  }

  figcaption {
    line-height: 2;
  }
}

/**
  Profiles Component
 */

.profiles {
  @extend %screen-center;
}

.button {
  margin: 1rem;
  padding: 4px;

  img {
    height: 48px;
    max-height: 10vh;
  }
}

.wide {
  display: none;
}

@media screen and (min-width: 480px) {
  .wide {
    display: initial;
  }

  .narrow {
    display: none;
  }
}
